button {
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  color: rgb(12, 11, 11);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(148, 216, 172);;
}

.equals {
  grid-column: 2 / 5;
  color: white;
  background-color: rgb(35 189 89);
}

.equals:hover {
  background-color: rgb(102, 223, 144);;
}

.sign {
  color: rgb(35 189 89);
}
